<div class="page-header">
  <h3 class="inline">Colleges <small>information</small></h3>
</div>
<table id="colleges" class="display table table-striped ">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rank</th>
			<th>Tuition Fees</th>
			<th>Total Enrollment</th>
			<th>Acceptance Rate</th>
			<th>Average Retention Rates</th>
			<th>Graduation Rate</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>